<main>
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <section>
    <h3>Deposit Amount</h3>
    <hr />
    <div class="deposit-box">
      <button (click)="modalVisible = !modalVisible">Add amount</button>
    </div>
    <table aria-describedby="Deposited amount">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Transaction mode</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 12490.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>4 aprial 2023</td>
          <td>CREDIT</td>
          <td>{{ 42490.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 48690.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 48690.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 48690.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 12490.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 42490.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 48690.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 48690.98 | currency : "INR" }}</td>
        </tr>
        <tr>
          <td>6 may 2024</td>
          <td>CREDIT</td>
          <td>{{ 48690.98 | currency : "INR" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="paging">
      <p>showing 1 to 10 of 500 entries</p>
      <div class="page">
        @for (item of totalRecord; track $index) {
        <button>{{ $index + 1 }}</button>
        }
      </div>
    </div>
  </section>
</main>

@if (modalVisible) {
<app-modal [header]="'Deposit form'">
  <form method="post">
    <input type="text" placeholder="Amount" class="w-100" />
    <div class="button-group">
      <button type="submit">Deposit</button>
      <button type="button" (click)="modalVisible = !modalVisible">
        Cancel
      </button>
    </div>
  </form>
</app-modal>
} @if (showAlert) {
<app-alert [heading]="'Success'">
  <p>Data added</p>
</app-alert>
}
